* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  min-height: 20px;
  margin-right: 0;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  margin-right: 8px;
  border-radius: 10px;
  transition: none;
  background: rgba(0,0,70,1);
}

#workspaces button {
  transition: none;
  color: #7c818c;
  background: transparent;
  padding: 5px;
}

#workspaces button.persistent {
  color: #7c818c;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  border-radius: inherit;
  color: rgba(0,0,70,1);
  background: #7c818c;
}

#workspaces button.active {
  color: #ffffff;
}

#language {
  padding-left: 16px;
  padding-right: 8px;
  border-radius: 10px 0px 0px 10px;
  transition: none;
  color: #ffffff;
  background: rgba(0,0,70,1);
}

#keyboard-state {
  margin-right: 8px;
  padding-right: 16px;
  border-radius: 0px 10px 10px 0px;
  transition: none;
  color: #ffffff;
  background: rgba(0,0,70,1);
}

#keyboard-state label.locked {
  color: #FF0000
}

#clock {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: rgba(0,0,70,1);
}

#pulseaudio {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: rgba(0,0,70,1);
}

#pulseaudio.source.source-muted {
  background: #90b1b1;
  color: #2a5c45;
}

#pulseaudio.sink.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#backlight {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  color: #ffffff;
  background: rgba(0,0,70,1);
}

#cpu {
  margin-right: 0px;
  padding-left: 16px;
  padding-right: 8px;
  border-radius: 10px 0px 0px 10px;
  color: #ffffff;
  background: rgba(0,0,70,1);
}

#temperature {
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 16px;
  border-radius: 0px 10px 10px 0px;
  color: #ffffff;
  background: rgba(0,0,70,1);
}

#temperature.critical {
  background: #eb4d4b;
}

#memory {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  color: #ffffff;
  background: rgba(0,0,70,1);
}

#network {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: rgba(0,0,70,1);
}

#battery {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: rgba(0,0,70,1);
}

#battery.charging {
  color: #ffffff;
  background-color: #26A65B;
}

#battery.warning:not(.charging) {
  color: black;
  background-color: #ffbe61
}

#battery.critical:not(.charging) {
  color: #ffffff;
  background-color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
